#subjForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#subjDiv {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h5,
h6 {
    margin: 0px;
}